preprocessing/20200510-06_markDuplicates/output/MSUS_S6_L005.dupPicard.bam
preprocessing/20200510-06_markDuplicates/output/CTRL_S5_L005.dupPicard.bam
preprocessing/20200510-06_markDuplicates/output/MSUS_S4_L005.dupPicard.bam
preprocessing/20200510-06_markDuplicates/output/CTRL_S3_L005.dupPicard.bam
preprocessing/20200510-06_markDuplicates/output/MSUS_S2_L005.dupPicard.bam
preprocessing/20200510-06_markDuplicates/output/CTRL_S1_L001.dupPicard.bam
preprocessing/20200510-02_trimming/output/CTRL_S3_L005_trimmed.fq.gz
preprocessing/20200510-02_trimming/output/MSUS_S6_L005_trimmed.fq.gz
preprocessing/20200510-02_trimming/output/MSUS_S4_L005_trimmed.fq.gz
preprocessing/20200510-02_trimming/output/CTRL_S1_L001_trimmed.fq.gz
preprocessing/20200510-02_trimming/output/CTRL_S5_L005_trimmed.fq.gz
preprocessing/20200510-02_trimming/output/MSUS_S2_L005_trimmed.fq.gz
preprocessing/20200510-05_alignment_Rsubread/output/CTRL_S1_L001.bam
preprocessing/20200510-05_alignment_Rsubread/output/MSUS_S6_L005.bam
preprocessing/20200510-05_alignment_Rsubread/output/CTRL_S5_L005.bam
preprocessing/20200510-05_alignment_Rsubread/output/CTRL_S3_L005.bam
preprocessing/20200510-05_alignment_Rsubread/output/MSUS_S2_L005.bam
preprocessing/20200510-05_alignment_Rsubread/output/MSUS_S4_L005.bam
data/GroupA6_S6_L005_R1_001.fastq.gz
data/GroupA2_S2_L005_R1_001.fastq.gz
data/GroupB5_S5_L005_R1_001.fastq.gz
data/GroupA4_S4_L005_R1_001.fastq.gz
data/GroupB3_S3_L005_R1_001.fastq.gz
data/GroupB1_S1_L001_R1_001.fastq.gz
